body {
background: #A9A9A9;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #000000;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #F0F8FF;
}
.assign img {
width: 200px;
padding: 10px;
}
