:root{
    --slider-color: rgb(255, 0, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f1e8;
}

h1{
    color: #64888d;
}

h2{
    color: #d98586;
}

header{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section{
    border: 1px solid #5c868b;
    align-self: center;
}

.columns > * {
    background: #f2f0d4;
    border-radius: 5px;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

.slidecontainer{
    width: 30%;
}

.slider{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 25px; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: red; 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #ff7f7f; 
    cursor: pointer;
} 


#ex-one{
    text-align: center;
    color: #5c868b;
    cursor: pointer;
}

#ex-two{
    text-align: center;
    color: #5c868b;
    cursor: pointer;
}

#clr-slider h3{
    color: #5c868b;
}

#pic-chooser h3{
    color: #5c868b;
}

/* Ex-List */
.ex-list{
    list-style-type: none;
    padding: 0;
}

.ex-list li{
    display: inline;
}

.ex-list li::after{
    content: "|";
    margin: 0 5px;
}

.ex-list li:last-child::after{
    content: "";
}

@media only screen and (min-width:600px){
    #content{
       width: 70%; 
       margin:auto;
    }

    .columns{
        display: flex;
        gap: 50px;
    }

    .columns > * {
        padding: 1%;
        margin: 1%;
    }
}