body{
    background: #F2F2EB;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: #5D878C;
}

h2{
    text-align: center;
    color: #D98484;
}

p{
    text-align: center;
    color: #5D878C;
}

div{
    justify-content: center;
}

section{
    border: 2px solid #C5D3C4;
    background: #F2F0D5;
    width: 90%;
    height: auto;
}

section p{
    text-align: left;
}

section h2{
    text-align: center;
    color: #5D878C;
}

#content{
    width: 100%;
}

.columns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-color{
    padding: 5px;
    color: #F2F0D5;
    text-align: left;
}

.hide{
    display: none;
}

.center{
    display: block;
    justify-content: center;
}

#image{
    text-align: center;
}

#image img{
    height: 150px;
    width: 150px;
}

#sunny p{
    text-align: left;
}

#p-one{
    padding: 5px;
}

#p-two{
    padding: 5px;
    text-indent: 5px;
}

#p-three{
    padding: 5px;
    text-indent: 10px;
}

#p-four{
    padding: 5px;
    text-indent: 15px;
}

#p-five{
    padding: 5px;
}

@media only screen and (min-width: 846px){
    .columns{
        flex-direction: unset;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
    }

    .one{
        flex: 1;
    }

    #content{
        width: 70%;
        margin: auto;
    }

    section{
        height: 300px;
    }
}