body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0D0D0D;
}

#main-content{
    background: #730217;
    box-shadow: 15px 15px #40010D;
    width: 70%;
    margin: auto; /* center */
    padding: 1%; /* text away from the edge */
    border-radius: 5px; /* round corners */
    color: white;
}

#main-header{
    text-align: center;
}

#class-description{
    text-align: center;
}

#repo{
    text-align: center;
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}