body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0D0D0D;
}

#main-content{
    background: #730217;
    box-shadow: 15px 15px #40010D;
    width: 70%;
    margin: auto; /* center */
    padding: 1%; /* text away from the edge */
    border-radius: 5px; /* round corners */
    color: white;
}

#main-header, #assignment-header, #class-description{
    text-align: center;
}

#repo{
    text-align: center;
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}
/* Assignment Section */
#assignment-header{
    text-align: center;
}

#assignment-div img{
    width: 300px;
    height: 150px;
}

#assignment-div section{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background: #40010D;
}

/* Footer */

#main-footer{
    text-align: center;
}

/* Flex */

.columns{
    display: flex;
    flex-wrap: nowrap;
}

/* Computer Display */
@media only screen and (min-width: 801px){
    .columns{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .assignment{
        flex: 1 0 25%;
        margin: 5px;
        height: auto;
        text-align: center;
    }
}