body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f1e8;
}

h1{
    color: #64888d;
}

h2{
    color: #d98586;
}

header{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columns > * {
    background: #f2f0d4;
    border-radius: 5px;
}

.slidecontainer{
    width: 30%;
}

.slider{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 25px; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer;
} 

#content{
    padding: 5px;
    width: 80%;
}

#gallery section{
    width: 80%;
    padding: 20px;
}

#gallery h3{
    color: #5c868b;
    text-align: center;
}

#count{
    background: #5c868b;
}

#count h3{
    color: white;
}

#count p{
    color: white;
    text-align: center;
    font-size: 50px;
}

#number{
    color: white;
    text-align: center;
    font-size: 50px;
}

#slider-image{
    color: #d98586;
}

@media only screen and (min-width:600px){
    #content{
       width: 70%; 
       margin: auto;
    }

    .columns{
        display: flex;
        gap: 50px;
    }

    .columns > * {
        padding: 1%;
        margin: 1%;
    }
}