body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
}

#species section{
    background: #73000A;
    padding: 5px;
    margin: 5px;
}

#main-header{
    text-align: center;
    background: #73000A;
    border-radius: 10px;
}

#assignments{
    background: white;
    margin: 5px;
    padding: 5px;
}

.placeholder{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.assignment-header{
    color: black;
}

footer{
    text-align: center;
}

h1{
    color: white;
}
h2{
    color: white;
    text-align: center;
}
p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.columns img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}


@media only screen and (min-width:600px){
    .columns {
        display: flex;
        flex-wrap: wrap;
    }

    .one{
        flex: 1 0 25%;
        margin: 5px;
        height: auto;
        text-align: center;
    }

}
